html, body {
    margin: 0;
    text-align: center;
    background-color: #333333;
    color: #dddddd;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
    align-content: center;
    align-self: center;
}

textarea {
    font-family: sans-serif;
    background-color: #dddddd;
    width: 66.666%;
    padding: 18px;
}
