html, body {
    margin: 0;
    text-align: center;
    background-color: #333333;
    color: #dddddd;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
    align-content: center;
}

textarea {
    font-family: sans-serif;
    background-color: #dddddd;
    width: 65%;
    padding: 18px;
}

.interface {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.two {
    align-content: center;
    flex: 2;
}

.one {
    align-content: center;
    flex: 1;
}

.img1 {
  border: 1px solid #f00;
  position: relative;
  z-index: 2;
}

.img2 {
  border: 1px solid #0f0;
  position: relative;
  z-index: 1;
  top: -45;
  left: -45;
}